body
.a{
	background:url(fon.jpg)
}

.b{
	background:#777777; 
	position:relative;
	width:900px;
	margin:0px auto;
	box-shadow:0px 0px 30px black
}

.top_index
{
	position:relative;
	background:#777777 url(11.jpg);
	background-repeat:no-repeat;
	width:900px;
	height:600px;
	height:600px;
}

.menu
{ 
	margin: auto;
	width:898px;
	height:58px;
	background:#c7cfd7;
	padding:0px 0px 0px 2px
}

ul{
	
	text-align:justify;padding:0px 150px 10px 150px;color:white;font-size:15px;font-family:tahoma;letter-spacing:1px;
	
}

iframe{
	
	padding:50px 20px 50px 20px;
	
}

.center
{
	position:relative;
	width:auto;
	background:#777777;
	margin:20px 0px 0px 0px
}
.menu a{display:block;background:#717b7b;height:40px;width:124px;padding-top:12px;margin:3px 2px 4px 2px;float:left;font-family:impact;font-size:10pt;letter-spacing:3px;color:#ffffff;text-decoration:none;text-align:center;}
.menu a:hover{background:#c7cfd7;color:#cc0000;}
.menu a.action{background:#c7cfd7;color:#555555;}
.center p{text-align:justify;padding:10px 150px 10px 150px;color:white;font-size:16px;font-family:tahoma;letter-spacing:1px;}
.center h1{color:white;text-align:center;padding:20px 0px 0px 0px;}
.g{position:relative;background:#777777 url(img/11.jpg);background-repeat:no-repeat;width:900px;height:420px}
.h{position:relative;background:#777777 url(img/c.jpg);background-repeat:no-repeat;width:900px;height:420px}
.n{position:relative;background:#777777 url(img/a.jpg);background-repeat:no-repeat;width:900px;height:420px}
.q{position:relative;background:#777777 url(img/h.jpg);background-repeat:no-repeat;width:900px;height:420px}


